
@media only screen and (max-width: 991px){
  
      .header_info  {
        padding-top: 40px;
      }
      .header_info h1 {
        font-size: 42px;
      }
      .learn_more {
        padding-top: 10px;
      }
      .feature_info {
         margin-left: 0; 
         padding-left: 20px;
    }
    
}
@media only screen and (max-width: 768px) {
    .header_info  {
        padding-top: 0;
      }
      .header_info h1 {
        font-size: 45px;
      }
      .header_info h3 {
        font-size: 31px;
      }
      .learn_more {
        padding-top: 0;
      }
      .about_top {
        padding-top:5px;
        padding-bottom: 5px;
        margin: 0 auto;
      }      
      .common_area h2 {
        padding-bottom: 5px;
        font-size: 30px;
      }
      .common_area h2 span{
        font-weight: 700;
      }
      .common_area p {
        padding-top: 5px;
      }
      .web_dev {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .identity_branding {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .go_to_top {
        width: 40px;
        height: 60px;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        position: fixed;
        right: 50px;
        bottom: 15px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }

}
@media only screen and (max-width: 767px) {
      .col_reverse {
        flex-direction: column-reverse;
      }
      .text_center {
        text-align: center;
      }
      .feature_items {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .client_profile img {
        padding-bottom: 20px;
      }
      .comment_box::after, .comment_box1::after {
        border-width: 31px 0 0 70px;
        border-color: transparent transparent transparent #fff;
        top: -5px;
        left: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}
@media only screen and (max-width: 576px) {
    .header_info  {
        padding-top: 0;
      }
      .header_info h1 {
        font-size: 38px;
      }
      .header_info h3 {
        font-size: 22px;
      }

      .col_reverse {
        flex-direction: column-reverse;
      }
      .text_center {
        text-align: center;
      }

}
@media only screen and (max-width: 545px) {
    .header_info  {
        padding-top: 0;
      }
      .header_info h1 {
        padding-top: 0;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 5px;
        font-size: 22px;
      }
      .learn_more {
        padding-top: 5px;
      }

}
@media only screen and (max-width: 524px) {
    .header_info  {
        padding-top: 0;
      }
      .header_info h1 {
        padding-top: 0;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 5px;
        font-size: 22px;
      }
      .learn_more {
        padding-top: 5px;
      }

}
@media only screen and (max-width: 510px) {
   
      .header_info h1 {
        padding-top: 0;
        font-size: 40px;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 10px;
      }
      .learn_more {
        margin-top: -15px;
      }

}
@media only screen and (max-width: 456px) {
   
      .header_info h1 {
        padding-top: 0;
        font-size: 38px;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 5px;
      }
      .learn_more {
        margin-top: -15px;
      }

}
@media only screen and (max-width: 360px) {
   
      .header_info h1 {
        padding-top: 0;
        font-size: 28px;
      }
      .header_info h3 {
        font-size: 18px;
        padding-top: 0;
      }
      .learn_more {
        margin-top:0;
      }
      .go_to_top {       
        right: 20px;       
      }


}


