
@media only screen and (max-width: 991px){
  
      .header_info  {
        padding-top: 40px;
      }
      .header_info h1 {
        font-size: 42px;
      }
      .learn_more {
        padding-top: 10px;
      }
    
}
@media only screen and (max-width: 768px) {
    .header_info  {
        padding-top: 20px;
      }
      .header_info h1 {
        font-size: 45px;
      }
      .header_info h3 {
        font-size: 31px;
      }

}
@media only screen and (max-width: 524px) {
    .header_info  {
        padding-top: 0;
      }
      .header_info h1 {
        padding-top: 10px;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 20px;
        font-size: 30px;
      }
      .learn_more {
        padding-top: 20px;
      }

}
@media only screen and (max-width: 510px) {
   
      .header_info h1 {
        padding-top: 0;
        font-size: 40px;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 10px;
      }
      .learn_more {
        margin-top: -15px;
      }

}
@media only screen and (max-width: 456px) {
   
      .header_info h1 {
        padding-top: 0;
        font-size: 38px;
      }
      .header_info h3 {
        font-size: 20px;
        padding-top: 5px;
      }
      .learn_more {
        margin-top: -15px;
      }

}
